body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/color.jpg);
    background-size: cover;
    font-family: 'Alice', serif;
    color: snow;
}
header ul li {
    display: inline-block;
    padding: 10px;
    color: snow;
    font-size: 18px;
    text-align: center;
    font-family:'Alice', serif;
}
h1{
    text-align: center;
    font-family:'Lateef', cursive;
    font-size: 75px;
    color:#CBC0E8;   
 }
h2{
    text-align: center;
    font-family:'Lateef', cursive;
    font-size: 40px;
}   
#moi{
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#linkedin{
    width: 70px;
}
ul#Coordonnees li {
    display: inline-block;
    text-align: center;
}
footer{
    font-family: 'Alice', serif;
    background-color: rgba(220,220,220,0.5);
}
h3{
    font-family:'Lateef', cursive;
    font-size: 30px;
}