body{
    background-image: url(../img/fond.jpg);
background-size: cover;}

    header ul li {display: inline-block;
        padding: 10px;
        color: black;
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;}

    h1{font-family: 'Courier New', Courier, monospace;
        text-align: center;}

header{
    border-width: 5px;
    border-style: solid;
    border-color: black;} 

    h2{font-family: 'Courier New', Courier, monospace;
    text-align: center;}   

    p{font-family: 'Courier New', Courier, monospace;}
    h3{font-family: 'Courier New', Courier, monospace;}

    li{font-family: 'Courier New', Courier, monospace;}

        

